@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}


